<nav class="navbar navbar-expand-lg navbar-dark" id="bla">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" routerLink="/home">Online Auction</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav justify-content-end">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" routerLink="/home">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Login
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" routerLink="/sellerLogin">Seller Login</a></li>
                            <li><a class="dropdown-item" href="#" routerLink="/customerLogin">Customer Login</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#" routerLink="/registration">Registration</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#" routerLink="/about">About</a>
                    </li>
                </ul>
            </div>
        </ul>
    </div>

</nav>

