<div class="banner">
    <br>
    <h3>CUSTOMER SERVICES</h3>
    <br>
    <div class="container">
        <form (ngSubmit)="createCustomer()">
            <!-- row#1 -->
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <label>Customer Name</label>
                        </div>
                        <div class="col-12">
                            <input type="text" [(ngModel)]="customer.customer_name" name="customer_name"
                                class="form-control" />
                        </div>
                    </div>
                    <br>

                    <!-- row#2 -->
                    <div class="row">
                        <div class="col-12">
                            <label>Customer ID</label>
                        </div>
                        <div class="col-12">
                            <input type="number" [(ngModel)]="customer.customer_id" name="customer_id"
                                class="form-control" />
                        </div>
                    </div>
                    <br>

                    <!-- row#3 -->
                    <div class="row">
                        <div class="col-12">
                            <label>Product ID</label>
                        </div>
                        <div class="col-12">
                            <input type="number" [(ngModel)]="customer.product_id" name="product_id"
                                class="form-control" />
                        </div>
                    </div>
                    <br>

                    <!-- row#4 -->
                    <div class="row">
                        <div class="col-12">
                            <label>Select Category of the Product</label>
                        </div>
                        <div class="col-12">
                            <select [(ngModel)]="customer.category" class="form-select" name="category"
                                class="form-control">
                                <option>-select-</option>
                                <option value="Fashion">Fashion</option>
                                <option value="Electronics">Electronics</option>
                                <option value="Footwear">Footwear</option>
                                <option value="Grocery">Grocery</option>
                            </select>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-12">
                            <label>Bidding Price</label>
                        </div>
                        <div class="col-12">
                            <input type="number" [(ngModel)]="customer.bidding_price" name="bidding_price"
                                class="form-control" />
                        </div>
                    </div>
                    <br>

                </div>
                <div id="button">
                    <a id="btn" class="btn btn-primary btn-lg" [routerLink]="['/customerLogin']" role="button">Back
                    </a> |
                    <input type="submit" class="btn btn-primary btn-lg" value="Add Customer" id="btn" /> |
                    <a id="btn" class="btn btn-primary btn-lg" [routerLink]="['/customergetall']" role="button">View
                        All Customers
                    </a> |
                    <a id="btn" class="btn btn-primary btn-lg" [routerLink]="['/products']" role="button">View
                        All Products
                    </a>
                </div>
                <span class="text-info">{{message}}</span>
                <div class="col-md-3"></div>
            </div>
            <br>
        </form>
    </div>
</div>